body {
    padding: 0%;
    margin: 0px;
    width: 100vw;
    height: 100%;

}
html {
  overflow-x: hidden;
  height: 100%;
  background-color: #543344;
}
/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    top: 0;

    width: 100%;
    height: 100%;
  
    padding: 0px;
  }
  
  /* Add some content at the bottom of the video/page */
  .content {
    font-family: 'Kanit', sans-serif;
    display: flex;
    flex-direction: column;
    position: relative;
    
    background: rgba(0, 0, 0, 0);
    color: #f1f1f1;
    width: 100%;
    height: 100vh;

    text-align: center;
    justify-content: center;

    text-shadow: 0px 5px 5px rgb(0,0,0,0.8);
    
  }
  .paragraph {
    font-family: 'Kanit', sans-serif;
    display: flex;
    flex-direction: row;
    position: relative;
    
    
    color: #f1f1f1;
    width: 100%;
    right: 0;
    left: 0;
    

    

    text-align: center;
    justify-content: center;
    
    align-items: center;

    text-shadow: 0px 2px 2px rgb(0,0,0,0.8);
    
  }
  .paragraph-content {
    width: 90vh;
    max-width: 50vw;
    max-height: 100%;

  }

  .content-image {
    max-width: 30vh;
    max-height: 28vh;
    margin-right: 2vw;
    margin-left: 2vw;

    margin-bottom: 1vh;
    margin-top: 1vh;


    position: relative;
    top: 3px;
    box-shadow: 0px 5px 5px rgb(0,0,0,0.4);
  }

  h1 {
    font-size: 5vmax;
    margin: 20px;
  }

  h2 {
    font-size: 2vmax;
    font-weight: 300;
    margin: 20px;
  }

  h3 {
    font-size: x-large;
    font-weight: 300;
    margin: 20px;
  }

  p {
    font-size: larger;
    margin: 20px;
    font-weight: 300;
  }




/* CSS */
.button-81 {
  background-color: #ae6a47;
  border: 0 solid #e2e8f0;
  border-radius: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Kanit", sans-serif;
  font-size: max(2vw,2vh);
  font-weight: 300;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 20px;
}

.button-81:hover {
  background-color: #543344;
  color: #fff;
  box-shadow: inset 0px 1px 5px rgba(0,0,0,0.4);
  
}

@media (min-width: 768px) {
  .button-81 {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}